* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}


.title {
    font-size: 70px;
    height: 100px;

    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.title_red {
    font-size: 90px;
    height: 100px;
    font-weight: bold;
    font-family: fantasy;
    color: rgb(255, 0, 0);
}

.logo {
    width: 100px;
    float: left;
    height: 100px;
}



.raw {
    width: 100%;
    height: 100px;
    border-radius: 5px;

}

body {
    background-color: rgb(70, 64, 64);
    background-image: url("img/background3.jpg");
}

header {
    background-color: rgb(240, 245, 234);
    position: fixed;
    width: 100%;

}

.dropoff {
    display: inline;
    text-align: center;
    background-color: rgb(247, 234, 219);
    font-weight: bold;
    border: solid 1px black;
}

.dropoff:hover {
    display: inline;
    background-color: rgb(252, 226, 216);
    text-align: center;
    cursor: pointer;
    background-color: bisque;
    border: solid 1px black;
}

.box {
    background-color: rgb(252, 249, 238);
    border-radius: 10px;
    border: solid black;
    margin-top: 5px;
    margin-bottom: 5px;

}

.dropoff_words {
    font-size: medium;
    font-family: monospace;
    color: darkslategray;

}


.words {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;

}

.subwords {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(58, 54, 54);
}

#searchInput {
    width: 400px;
    margin-left: 50px;
}

#searchButton {
    margin-left: 30px;
}


.img {
    align-content: center;
    border-radius: 20px;
    height: 50px;
    margin-left: 10px;
    border: solid 1px black;
}
.img2 {
    align-content: center;
    border-radius: 20px;
    height: 50px;
    margin-left: 10px;
    
}

.spacer2 {
    margin-bottom: 50px;
}


@media (min-width:1200px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }

    .col-lg-1 {
        width: 8.33%
    }

    .col-lg-2 {
        width: 16.66%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: 33.33%
    }

    .col-lg-5 {
        width: 41.66%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: 58.33%
    }

    .col-lg-8 {
        width: 66.66%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: 83.33%
    }

    .col-lg-11 {
        width: 91.66%
    }

    .col-lg-12 {
        width: 100%
    }

    .spacer {
        padding: 60px;
    }


}

@media (min-width:950px) and (max-width:1199px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }

    .col-md-1 {
        width: 8.33%
    }

    .col-md-2 {
        width: 16.66%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33%
    }

    .col-md-5 {
        width: 41.66%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33%
    }

    .col-md-8 {
        width: 66.66%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33%
    }

    .col-md-11 {
        width: 91.66%
    }

    .col-md-12 {
        width: 100%
    }

    .spacer {
        padding-top: 135px;
    }


}

@media (min-width:570px) and (max-width:949px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;

    }

    .col-sm-1 {
        width: 8.33%
    }

    .col-sm-2 {
        width: 16.66%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.33%
    }

    .col-sm-5 {
        width: 41.66%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.33%
    }

    .col-sm-8 {
        width: 66.66%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.33%
    }

    .col-sm-11 {
        width: 91.66%
    }

    .col-sm-12 {
        width: 100%
    }

    .title_s {
        font-size: 40px;
        height: 100px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .title_s_red {
        font-size: 50px;
        height: 100px;
        font-weight: bold;
        font-family: fantasy;
        color: rgb(255, 0, 0);
    }

    .logo_xs {
        height: 75px;
        width: 75px;
    }

    .raw_xs {
        width: 100%;
        height: 75px;
    }

    .spacer {
        padding-top: 130px;
    }


}

@media (max-width:569px) {

    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        float: left;
    }

    .col-xs-1 {
        width: 8.33%
    }

    .col-xs-2 {
        width: 16.66%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-4 {
        width: 33.33%
    }

    .col-xs-5 {
        width: 41.66%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-7 {
        width: 58.33%
    }

    .col-xs-8 {
        width: 66.66%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-10 {
        width: 83.33%
    }

    .col-xs-11 {
        width: 91.66%
    }

    .col-xs-12 {
        width: 100%
    }

    .title_xs {
        font-size: 25px;
        height: 100px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .title_xs_red {
        font-size: 35px;
        height: 100px;
        font-weight: bold;
        font-family: fantasy;
        color: rgb(255, 0, 0);
    }

    .logo_xs {
        height: 50px;
        width: 50px;
    }

    .raw_xs {
        width: 100%;
        height: 50px;
    }

    .spacer {
        padding-top: 155px;
    }



}